---
development:
  web:
    listen: 0.0.0.0
    port: 5001
  database:
    host: <%= ENV['DB_PORT_3306_TCP_ADDR'] %>
    port: <%= ENV['DB_PORT_3306_TCP_PORT'] %>
    database: {{ lobster_pop_db_name }}
    username: {{ lobster_pop_db_user }}
    password: {{ lobster_pop_db_password }}